[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/MacroPower/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode
