@font-face {
    font-family: 'Fira Code';
    src: url('/FiraCode-VariableFont_wght.ttf')
}

.highlight pre {
    border-radius: .5em;
    border: 0.1em solid #545454;
    box-shadow: none;
}

.highlight pre code {
    display: block;
    font-family: 'Fira Code', monospace;
    font-size: 0.9rem;
    line-height: 1.25rem;
    text-shadow: none;
}

.highlight pre code[data-lang="text"] {
    display: block;
    font-family: 'Fira Code', monospace;
    letter-spacing: -0.1rem;
    line-height: 0.9rem;
    font-size: 1rem;
    text-shadow: none;
    opacity: 1;
}
