{{- $pages := .pages -}}
{{- $here := .here -}}
{{- $dateFmt := site.Params.dateformNum | default "2006-01-02" -}}

<section class="up-post-list" aria-label="Posts" data-up-post-list>
  <header class="up-post-list-header">
    <button type="button" class="up-post-list-col" data-up-sort="name" aria-pressed="false">
      <span>Name</span>
      <span class="up-sr-only" data-up-sort-sr></span>
      <span class="up-post-list-caret" aria-hidden="true"></span>
    </button>
    <button type="button" class="up-post-list-col is-sorted is-desc" data-up-sort="date" aria-pressed="true">
      <span>Date</span>
      <span class="up-sr-only" data-up-sort-sr>sorted descending</span>
      <span class="up-post-list-caret" aria-hidden="true">▾</span>
    </button>
  </header>
  <div class="up-post-list-body" data-up-post-list-body>
    {{- range $pages.ByDate.Reverse }}
      {{- $isActive := and (ne $here "") (eq $here .RelPermalink) }}
      {{- $tagList := slice }}
      {{- range .Params.categories }}{{ $tagList = $tagList | append (lower .) }}{{ end }}
      {{- $iso := .Date.Format "2006-01-02" }}
      {{ partial "page/post-row.html" (dict
          "url" .RelPermalink
          "title" .Title
          "active" $isActive
          "chips" .Params.categories
          "date" (.Date.Format $dateFmt)
          "datetime" $iso
          "filter" (dict "title" (lower .Title) "tags" (delimit $tagList " ") "date" $iso)) }}
    {{- end }}
    <div class="up-post-empty" data-up-post-empty hidden>No posts match.</div>
  </div>
</section>
