<!--
Source: https://gist.github.com/j-un/e7d0b3118556479392bd2269f7059242

Parameters:
    type - (Required) album / track / playlist / artist
    id - (Required) Target ID
    width - (Optional) width
    height - (Optional) height

Both named (type="album" id="…") and positional ("album" "…") call styles
are accepted; resolve the four values from whichever style was used, then
render the iframe once.
-->
{{- $type := "" }}{{ $id := "" }}{{ $width := "" }}{{ $height := "" -}}
{{- if .IsNamedParams -}}
  {{- $type = .Get "type" }}{{ $id = .Get "id" }}{{ $width = .Get "width" }}{{ $height = .Get "height" -}}
{{- else -}}
  {{- $type = .Get 0 }}{{ $id = .Get 1 }}{{ $width = .Get 2 }}{{ $height = .Get 3 -}}
{{- end -}}
<iframe src="https://open.spotify.com/embed/{{ $type }}/{{ $id }}"
    width="{{ $width | default "100%" }}"
    height="{{ $height | default "380" }}"
    frameborder="0"
    allowtransparency="true"
    allow="encrypted-media"></iframe>
