{{ $current := .RelPermalink }}
{{ $home     := relURL "" }}
{{ $about    := relURL "about/" }}
{{ $cv       := relURL "cv/" }}
{{ $blog     := relURL "posts/" }}
{{ $projects := relURL "projects/" }}
{{- $homeActive     := eq $current $home -}}
{{- $aboutActive    := eq $current $about -}}
{{- $cvActive       := eq $current $cv -}}
{{- $blogActive     := hasPrefix $current $blog -}}
{{- $projectsActive := eq $current $projects -}}
<aside class="up-launcher" aria-label="Launcher">
  <a class="up-launcher-tile{{ if $homeActive }} is-active{{ end }}"
     href="{{ $home }}" data-launcher="home" aria-label="Home"
     {{ if $homeActive }}data-page-current="1"{{ end }}>
    <span class="up-launcher-icon">
      {{ partial "icon.html" "launcher/home" }}
    </span>
    <span class="up-launcher-arrow up-launcher-arrow-left" aria-hidden="true"></span>
    <span class="up-launcher-arrow up-launcher-arrow-right" aria-hidden="true"></span>
    <span class="up-tooltip" aria-hidden="true">Home</span>
  </a>

  <a class="up-launcher-tile{{ if $aboutActive }} is-active{{ end }}"
     href="{{ $about }}" data-launcher="about" aria-label="About"
     {{ if $aboutActive }}data-page-current="1"{{ end }}>
    <span class="up-launcher-icon">
      {{ partial "icon.html" "launcher/about" }}
    </span>
    <span class="up-launcher-arrow up-launcher-arrow-left" aria-hidden="true"></span>
    <span class="up-launcher-arrow up-launcher-arrow-right" aria-hidden="true"></span>
    <span class="up-tooltip" aria-hidden="true">About</span>
  </a>

  <a class="up-launcher-tile{{ if $cvActive }} is-active{{ end }}"
     href="{{ $cv }}" data-launcher="cv" aria-label="CV"
     {{ if $cvActive }}data-page-current="1"{{ end }}>
    <span class="up-launcher-icon">
      {{ partial "icon.html" "launcher/cv" }}
    </span>
    <span class="up-launcher-arrow up-launcher-arrow-left" aria-hidden="true"></span>
    <span class="up-launcher-arrow up-launcher-arrow-right" aria-hidden="true"></span>
    <span class="up-tooltip" aria-hidden="true">CV</span>
  </a>

  <a class="up-launcher-tile{{ if $projectsActive }} is-active{{ end }}"
     href="{{ $projects }}" data-launcher="projects" aria-label="Projects"
     {{ if $projectsActive }}data-page-current="1"{{ end }}>
    <span class="up-launcher-icon">
      {{ partial "icon.html" "launcher/projects" }}
    </span>
    <span class="up-launcher-arrow up-launcher-arrow-left" aria-hidden="true"></span>
    <span class="up-launcher-arrow up-launcher-arrow-right" aria-hidden="true"></span>
    <span class="up-tooltip" aria-hidden="true">Projects</span>
  </a>

  <a class="up-launcher-tile{{ if $blogActive }} is-active{{ end }}"
     href="{{ $blog }}" data-launcher="blog" aria-label="Blog"
     {{ if $blogActive }}data-page-current="1"{{ end }}>
    <span class="up-launcher-icon">
      {{ partial "icon.html" "launcher/blog" }}
    </span>
    <span class="up-launcher-arrow up-launcher-arrow-left" aria-hidden="true"></span>
    <span class="up-launcher-arrow up-launcher-arrow-right" aria-hidden="true"></span>
    <span class="up-tooltip" aria-hidden="true">Blog</span>
  </a>

  <div class="up-launcher-spacer"></div>

  <button class="up-launcher-tile" data-launcher="trash" data-launcher-trash aria-label="Trash" type="button">
    <span class="up-launcher-icon">
      {{ partial "icon.html" "launcher/trash" }}
    </span>
    <span class="up-launcher-arrow up-launcher-arrow-left" aria-hidden="true"></span>
    <span class="up-launcher-arrow up-launcher-arrow-right" aria-hidden="true"></span>
    <span class="up-tooltip" aria-hidden="true">Trash</span>
  </button>
</aside>

<div class="up-desktop-label">
  {{ with .Site.Params.author }}{{ .name | lower | replaceRE " +" "-" }}{{ end }}/personal-site<br>
  v1.0 · "aubergine" · {{ now.Year }}
</div>
